<style>
    #tlo {
        background-color: rgba(249, 242, 236,.7);
    }
</style>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="tlo">
    <h1>Baking store</h1>
    <p class="lead">Aplikacja służąca do przechowywania przepisów oraz obliczania ich wartości kalorycznej.</p>
   
</div>
<div>
    Adrianna Jagodzińska
</div>

<div class="row">
    
</div>